.shiny-progress {
  top: 10px; /* adjust this value as needed */
  right: 30px;
  bottom: auto;
  left: auto;
}

.row-flex {
    display: flex;
    justify-content: flex-start;
}

.team-header {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    font-size: 16px;
}

.team-name {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.col-label {
    font-weight: bold;
    text-align: right;
    font-size: 14px;
    display: flex; !important;
    align-items: center; !important;
    justify-content: center; !important;
}
